<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cy.pj.sys.dao.SysUserDaoTest">
  
     <update id="updateObject"
           parameterType="com.cy.pj.sys.po.SysUser">
        update sys_users_test
        set username=#{username},
            mobile=#{mobile},
            email=#{email},
            deptId=#{deptId},
            modifiedTime=now(),
            modifiedUser=#{modifiedUser}
         where id=#{id}
     </update>
     


	<insert id="insertObject"
            parameterType="com.cy.pj.sys.po.SysUser" useGeneratedKeys="true"
            keyProperty="id">
		insert into sys_users_test
		(username,password,deptId,email,mobile,salt,valid,
		createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>
  
      <!--基于sql元素实现映射语句共性的封装，需要时使用include去包含-->
      <sql id="queryWhereId">
         from sys_users_test
         <where>
           <if test="username!=null and username!=''">
            username like concat("%",#{username},"%")
           </if>
         </where>
       </sql>



    <!--sql limit 9000000,100000 优化思路,从第900万条开始取10万条，前面的900万条查询是多余的
            可以利用 从第900万条开始取10万条，只查询主键，筛选出10万条，通过主键关联 只需回表
            10万次，查询需要的值
     -->
    <!-- SELECT * FROM sys_users_test ORDER BY id ASC limit #{startIndex},#{pageSize} -->
      <select id="findPageObjects" resultType="com.cy.pj.sys.po.SysUser">
        SELECT * FROM sys_users_test a
        INNER JOIN(SELECT id FROM sys_users_test ORDER BY id ASC limit #{startIndex},#{pageSize}) b
        ON a.id = b.id
      </select>
  
      <select id="getRowCount" resultType="long">
         select count(*)
         <include refid="queryWhereId"/>
      </select>
      
  </mapper>